@charset "UTF-8";
.garments td > a::after {
  content: "サイズについて ›"; }

.signups-text svg {
  display: inline-block;
  max-width: 200px;
  margin: 0 auto .5rem;
  padding: 0 0.25rem; }
.signups-text h4 {
  font-size: 18px; }

.signups-container h2 {
  line-height: 200%; }

.signups-button-container .signups-button {
  font-size: 1rem; }
