/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * neue-kabel:
 *   - http://typekit.com/eulas/00000000000000007735bafc
 *   - http://typekit.com/eulas/00000000000000007735baf9
 *   - http://typekit.com/eulas/00000000000000007735bb00
 *   - http://typekit.com/eulas/00000000000000007735bb03
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2024-03-07 15:53:59 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=bay7aee&ht=tk&f=39528.39529.39532.39533&a=86375438&app=typekit&e=css");

@font-face {
font-family:"neue-kabel";
src:url("https://use.typekit.net/af/bb656a/00000000000000007735bafc/30/l?subset_id=2&fvd=n9&v=3") format("woff2"),url("https://use.typekit.net/af/bb656a/00000000000000007735bafc/30/d?subset_id=2&fvd=n9&v=3") format("woff"),url("https://use.typekit.net/af/bb656a/00000000000000007735bafc/30/a?subset_id=2&fvd=n9&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"neue-kabel";
src:url("https://use.typekit.net/af/69f2a7/00000000000000007735baf9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff2"),url("https://use.typekit.net/af/69f2a7/00000000000000007735baf9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("woff"),url("https://use.typekit.net/af/69f2a7/00000000000000007735baf9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:900;font-stretch:normal;
}

@font-face {
font-family:"neue-kabel";
src:url("https://use.typekit.net/af/48d5ac/00000000000000007735bb00/30/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/48d5ac/00000000000000007735bb00/30/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/48d5ac/00000000000000007735bb00/30/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"neue-kabel";
src:url("https://use.typekit.net/af/a72fc9/00000000000000007735bb03/30/l?subset_id=2&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/a72fc9/00000000000000007735bb03/30/d?subset_id=2&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/a72fc9/00000000000000007735bb03/30/a?subset_id=2&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

.tk-neue-kabel { font-family: "neue-kabel",sans-serif; }
